{% extends 'body.html' %}

{% block body %}
  <h1>Chercher une capsule</h1>

  <div class="search">
    <div class="table">
      <form action="{{ url_for('search') }}" method="POST">

        {% for text_input in [("reference", "Référence"), ("brand_name", "Maison"), ("text_top", "Text dessus"), ("text_aside", "Text côté")] %}
        <div class="row">
          <label class="label" for="{{ text_input[0] }}">{{ text_input[1] }}</label>
          <input type="text" id="{{ text_input[0] }}" name="{{ text_input[0] }}">
        </div>
        {% endfor %}

        {% for color_input in [("background_color", "Couleur"), ("aside_color", "Couleur côté"), ("text_color", "Couleur text"), ("text_aside_color", "Couleur text côté")] %}
        <div class="row">
          <label class="label" for="{{ color_input[0] }}">{{ color_input[1] }}</label>
          <select id="{{ color_input[0] }}" name="{{ color_input[0] }}">
            <option value="">-</option>
            {% for color in colors %}
            <option value="{{ loop.index0 }}">{{ color['name'] }}</option>
            {% endfor %}
          </select>
        </div>
        {% endfor %}

        <div class="row">
          <label class="label" for="diameter">Diamètre</label>
          <select id="diameter" name="diameter">
            <option value="">-</option>
            {% for diameter in diameters %}
            <option value="{{ loop.index0 }}">{{ diameter['name'] }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="buttons">
          <button type="submit">CHERCHER</button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
